<div>
    <div class="co-12 topbar row">
        <div><input name="search_bar" type="text" id="searchBar" ng-model="vm.searchBar" class="co-10" placeholder="Search for music..."></div>
        <div type="button" class="searchButton center co-2" ng-click="vm.onSearch()">
            <i class="glyphicon glyphicon-search searchIcon"></i></div>
    </div>

    <div class="center">
        <div ng-repeat="music in vm.resultPage" class="co-10 alert alert-secondary result" role="alert">
            <div class="co-2 " style="min-width: 86px">
                <img class="album" src={{music.artworkUrl100}}>
            </div>

            <div style="padding-top:10px" class="co-9">
                <h4 class="title" ng-click="vm.selectedMusic = music" ui-sref="app.result({trackId: 960345407})">
                    {{ music.trackName ? music.trackName : music.collectionName }}
                </h4>
                <span class="genre">{{music.primaryGenreName}}</span>
                <br><span class="genre">{{music.kind}}</span>
                <br>
                <span class="artist">{{music.artistName}}</span>
            </div>
            <div class="co-1 playPreview" ng-click="vm.playPreview(music.previewUrl)">
                <span ng-if="(vm.isPlaying == false) || (music.previewUrl != vm.preview.url)" style="font-size: 40px;"
                    class="glyphicon glyphicon-play"></span>
                <span ng-if="(vm.isPlaying == true) && (music.previewUrl == vm.preview.url)" style="font-size: 40px;"
                    class="glyphicon glyphicon-pause"></span>
            </div>
        </div>
        <div ng-if="vm.results.length == 0 || vm.results == undefined" class="co-10 result animate-if">
            <i class="glyphicon glyphicon-exclamation-sign"></i> No results found
        </div>
        <br><br><br>
        <div ng-if="vm.results.length != undefined" class="co-12">
            <button ng-disabled="vm.currentPage == 0" ng-click="vm.previousPage()"> Previous </button>
            Page {{vm.currentPage+1}} of {{vm.numberOfPages()}}
            <button ng-disabled="vm.currentPage > ({{vm.numberOfPages()}}-2)" ng-click="vm.nextPage()">Next</button>
        </div>
    </div>
</div>