.active {
    color: red;
    font-weight: bold;
}

.topbar{
    background-color: #aebdff;
    padding: 10px;
    margin-left: 0px !important;
}

.isPlaying{
    font-size: 26px;
    position: absolute;
    top: 65px;
    right: -8px;
}

.playPreview{
    cursor: pointer;
    border-left: 1px solid #d6d8db;
}

#searchBar{
    height: 40px;
    border: none;
}

.searchIcon{
    font-size: 20px !important;
    margin-top: 8px;
    color: rgb(248, 248, 248);
}

.searchButton{
    min-width: 45px;
    height: 40px;
    background-color: #465cc0;
    cursor: pointer;
}

.searchButton:hover{
    background-color: #465cc0ab;
}

.searchButton:active{
    background-color: #334597;
}

.alert-secondary{
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}
.center{
    display: block;
    text-align: -webkit-center;
}

.co-1{
    width: 8.333333333%;
    position: relative;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.co-2{
    position: relative;float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 16.66666667%
}
.co-3{
    position: relative;float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 25%
}
.co-4{
    position: relative;float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 33.333333333%
}
.co-5{
    position: relative;float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 41.66666667%
}
.co-6{
    position: relative;float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 50%
}
.co-7{
    position: relative;float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 58.333333333%
}
.co-8{
    position: relative;float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 66.66666667%
}
.co-9{
    position: relative;float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 75%
}
.co-10{
    position: relative;float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 83.33333333%
}
.co-11{
    position: relative;float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 91.66666667%
}
.co-12{
    position: relative;float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%
}

.result{
    margin-left: 8.333333333%;
    margin-top: 10px;
}

.result .title{
    float: left !important;
    cursor: pointer;
}

.result .title:hover{
    color: #4460ff;
}
.result .artist{
    float: left !important;
}
.result .genre{
    float: right !important;
}

.result .album{
    border-radius: 5px; 
    border: 1px solid #383d41;
    width: 80px;
    cursor: pointer;
}
.noRelativeFloat{
    position: unset !important;
    float: left !important;
}